/* Body */

:root {
    --nav-color: #B09E99;
    --primary-color: #FDF3ED;
    --secondary-color:#FEE9E1;
    --overlay-color: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: pointer;
}

/* Header */

#home {
    background-color: var(--nav-color);
}

header img {
    width: 100px;
}


/* Nav Bar */

.topnav a {
    padding: 1.3rem;
}

.container {
    margin: auto;
    overflow: hidden;
}

.navbar {
    font-size: 1.3rem;
}

.navbar > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
}

.container > .logo {
    display: flex;
    align-content: center;
}

.container h1 {
    align-self: center;
}

@media only screen and (min-width: 800px) {
    .container > .topnav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}


/* Main Body */

.containerOne {
    position: relative;
    background: url('../images/analog-watch-blur-classic-.jpg') no-repeat center/cover;
    height: 1080px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
}

main .mainMenuWatch {
    height: 100%;
}

main .mainQuote {
    height: 60%;
}

main  .mainQuote, .mainMenuWatch {
    width: 70%;
    margin-left: 15%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainQuote h2 {
    margin-top: 1.3rem;
}

.mainQuote, .mainMenuWatch > h2, h3 {
    justify-content: flex-end;
    margin: 1.3rem 0 1.3rem 0;
}

.mainQuote > a {
    width: 15%;
    background-color: var(--secondary-color);
    padding: 1rem .5rem 1rem .5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 15px;
}

.containerOneA {
    height: 4.0rem;
    background-color: var(--nav-color);
}

/* Watch page */

.watchPageTitle {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    text-align: center;
}

.firstMainImage {
    position: relative;
    background: url('../images/accuracy-analogue-antique-watch.jpg') no-repeat center/cover;
    height: 400px;
    width: 80%;
    margin-left: 10%;
}

main .mainMenuWatch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .watchCategorie {
    place-self: center;
}

.watchDescription #dressPopup, #fieldPopup, #pilotPopup, #divePopup, #sportPopup, #miscPopup {
    display: none;
}

.watchDescription {
    place-self: center;
}

.watchDescription p {
    font-size: 1.7rem;
}

/* Watch selection */

#containerInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    background-color: var(--underlay-color);
    margin-top: 1.3rem;
    margin-left: 5%;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#containerInfo .element {
    padding-bottom: 2.3rem;
}

.watchElement img {
    width: 200px;
}

/* Watch lightbox and information */

#containerLightBox {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 184, 184, 0.486);
    z-index:100;
    opacity:0.8;
}

#lightBox {
    display: none;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    padding: 0;
    margin:0;
    border: 5px solid white;
    background-color: rgb(255, 255, 255);
    z-index:101;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 15px;
}

.watchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90%;
}

.watchContainer img {
    width: 60%;
    align-self: center;
    padding: 2.0rem;
    transform: scale(.75);
}

.watchContainer .data {
    font-size: 2.0rem;
}

.watchContainer .size {
    margin-top: 0;
    font-size: 0.7rem;
}

.watchContainer h4 {
    font-size: 1.3rem;
    font-family: var(--third-font);
    font-weight: bold;
}

#watchInformation > a {
    width: 25%;
    background-color: var(--secondary-color);
    padding: 1rem .5rem 1rem .5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 15px;
}

article > p {
    text-align: center;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
}

/*  About page */

.firstAboutImage {
    position: relative;
    background: url('../images/analogue-antique-automatic.jpg') no-repeat center/cover;
    height: 400px;
    width: 80%;
    margin-left: 10%;
}


/* Footer */

footer {
    background-color: var(--nav-color);
}

footer .footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-left: 10%;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 1.3rem;
}