/* Body */

html {
    scroll-behavior: smooth;
}

* {
    ox-sizing: border-box;
}

h1, h2 {
    font-family: 'Michroma', sans-serif;
}

h3, h4, h5, h6, a, p {
    font-family: 'Roboto Slab', serif;
}

a {
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

#lineBreak {
    width: 80%;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* Nav Bar */

#home {
    background-color: #BCE2F7;
}

#myTopnav .buttons > a{
    order: 2px solid #fff;
    ox-shadow: 5px 10px 10px rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, 0.600);
    ox-shadow: 7px 7px 7px #888888;
    border-radius: 5px;
    margin-right: 1.5rem;
    margin-top: 1.2rem;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.topnav a {
    padding: .4rem;
    font-size: .9rem;
}

.container {
    margin: auto;
    overflow: hidden;
}

.navbar {
    font-size: 1.3rem;
}

.navbar > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}

.container > .logo {
    display: flex;
    align-content: center;
}

.container h1 {
    align-self: center;
}

@media only screen and (min-width: 800px) {
    .container > .topnav {
        display: flex;
        flex-direction: row;
        padding-top: 5.0rem;
    }
}


/* Container title page */

main > .container1 {
    position: relative;
    background: url('../images/background.svg') no-repeat center/cover;
    height: 800px;
}

main  .sub-container1-1 {
    height: 100%;
    width: 50%;
    margin-left: 25%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20rem;
}

.sub-container1-1 h1 {
    font-size:  90px;
    font-family: 'Michroma', sans-serif;
}

.sub-container1-1 h3 {
    font-family: 'Roboto Slab', serif;
    font-size:  40px;
}

@media only screen and (min-width: 800px) {
    main .icons {
        text-align: right;
        background-color: #BCE2F7;
        padding-right: 2.5%;
    }
}

main .icons a {
    color: black;
}

main a {
    padding: 0.4rem;
}

/* Work container */

main > .container2 {
    background-color: #F8E9D4;
}

main .mainMenuDesign {
    display: grid;
    rid-template-columns: repeat(2, 1fr);
    background-color: #F8E9D4;
    text-align: center;
}

main .designCategorie {
    place-self: center;
}

.designDescription #webPopup, #graphicPopup, #illustrationPopup {
    display: none;
}

.designDescription {
    place-self: center;
}

.designDescription p {
    font-size: 1.7rem;
}

/* Projects */

#projects {
    padding-top: 4%;
    padding-bottom: 4%;;
    margin-top: -6%;
}

#projects > h2 {
    text-align: center;
    font-size: 3rem;
}

#projects > ul {
    margin-left: 10%;
    margin-top: 3%;
    list-style-type: none;
}

#projects .designCategorie > h1 {
    background-color: rgba(255, 255, 255, 0.600);
    border-radius: 5px;
    width: 70%;
    margin-left: 15%;
    margin-top: 6.0rem;
    margin-bottom: 2.0rem;
}

@media only screen and (min-width: 600px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
}

.projects > figure > a > img {
    margin-top: 10%;
    border: 2px solid #fff;
    box-shadow: 5px 10px 10px rgb(68, 68, 68);
    width: 600px;
}

@media only screen and (max-width: 700px) {
    .projects > figure > a > img {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .letterProjectSeperate > figure > img {
        width: 100%;
    }
}

.projects > figure > figcaption {
    text-align: center;
    margin-top: 1.3rem;
}

.projects > figure > figcaption > a {
    color: #00fafa;
}

/* Letters project */

#home > h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

#home > h3 {
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

#home .letterProject > img {
    width: 80%;
    margin-left: 10%;
}

#home figure {
    text-align: center;
}

.logoProjectSeperate figure {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


