a {
    cursor: pointer;
}

body {
    background-image: url("/acme/images/site/background.jpg");
    background-size: 100%;  
}

#rocketFeature {
    background-image: url("/acme/images/site/rocketfeature.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 97.5%;
    margin-left: 1.25%;
}

span {
    font-size: .7rem;
}

@media screen and (min-width: 700px) {
    #rocketFeature {
        height: 25rem;
    }

    #prod-display, #product-display{
        flex-flow: row wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
       
    #prod-display li{
        padding: 1.3rem;
        max-width: 400px;
        flex: 1 0 auto;
        text-align: center;
    }    
}

@media screen and (min-width: 900px) {
    .logoDesign img {
        width: 50% !important;
    }

    .folderAccount img { 
        width: 20% !important;
    }

    #rocketFeature {
        height: 30rem;
    }

    #rocketFeature ul {
        background-color: #ffffff00 !important;
        height: 45%;
        text-align: center;
        align-self: center;
    }

    #rocketFeature li {
        font-size: 1.3rem;
    }

    #rocketFeature li > h2 {
        font-size: 2.5rem;
    }

    #contentInfoMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #contentInfoMain > div:nth-child(1) { 
        order: 2; 
    }
}

@media screen and (min-width: 1500px) {
    #rocketFeature {
        height: 40rem;
    }
}