body {
    font-family: 'Open Sans', 'Noto Serif'; 
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;  
    text-align: center;
}

p {
    font-family: 'Noto Serif', serif;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

main h1 {
    font-size: 3.2em;
}

.homeImage > img {
    position: absolute;
    z-index: -3;
    float: right;
    margin-right: 10%;
    width: 80%;
    border: solid 1px black;
    margin-bottom: 25px;
    margin-left: 6%;
}

.logo {
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
}

nav {
    height: 100px;
    width: 100%;
    box-shadow: 5px 10px 10px #CBD4C2;
}

nav ul li a:hover {
    transition-property: all;
    transition-duration: 1s;
    background-color: #CBD4C2;
}

nav ul li.active {
    background-color: #CBD4C2;
}

/* Home Page */

@media only screen and (min-width: 900px) {
    .navagation {
        display: flex;
        float: right;
        flex-direction: row;
        list-style-type: none;
        margin-right: 25px;
    }

    ul {
        width: 650px;
    }

    nav > li {
        text-align: center;
        margin: auto;
    }

    ul > li {
        margin: 15px; 
    }

    nav a {
        font-size: 1.5em;
        text-decoration: none;
        color: black;
    }

    nav button {
        display: none;
    }

    .callToAction {
        width: 25%;
        margin-top: 12%;
        margin-left: 15%;
        text-align: center;
        border-radius: 10%;
    }

    .callToAction p {
        text-align: center;
        margin: 25px;
        font-size: 1.8em;
    }

    .callToAction button {
        font-size: 2.0em;
        margin-bottom: 20px;
        border-radius: 5%;
    }

    .callToAction a {
        text-decoration: none;
        color: black;
    }

    .homeImages {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        margin-left: 10%;
    }

    .homeImages > p {
        text-align: center;
    }

    .homeImages img {
        align-content: center;
    }

    .homeContent {
        margin-top: 38%;
    }

    footer .icons {
        text-align: right;
        margin-top: -80px;
        margin-right: 10px;
    }
    
    .icons a {
        margin: 10px;
        color: #50514F;
    }

    .footerInfo {
        display: inline-block;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
    }
}

.homeContent p {
    width: 80%;
    margin: auto;
}

.homeContent h2 {
    font-size: 2.5em;
}

.homeImages {
    margin-top: 6%;
}

.icons a:hover {
    transition-property: all;
    transition-duration: 1s;
    color: #CBD4C2;
}

footer {
    box-shadow: 0px -10px 20px #CBD4C2;
    height: 100px;
    width: 100%;
    margin-top: 55px; 
}

/* Temple Page */

#templeList {
    display: flex;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    padding-left: 0px;
}

#templeList li {
    flex-direction: row;
    margin: 15px;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 45px;
}

section h2 {
    font-size: 2.0em;
}

 section img {
    margin-left: 20%;
}

section img:nth-child(1) {
    width: 60%;
}

section img:nth-child(2) {
    width: 60%;
}

section img:nth-child(3) {
    width: 60%;
}

section img:nth-child(4) {
    width: 60%;
}

section article:nth-child(5) {
    display: none;
}

section article:nth-child(6) {
    display: none;
}

section article:nth-child(7) {
    display: none;
}

section article:nth-child(8) {
    display: none;
}

section article:nth-child(9) {
    display: none;
}

 article p {
    font-weight: bold;
}

/* Reservation Page */

#reservation {
    display: flex;
    flex-direction: column;
}

#reservation img {
    width: 40%;
}

#reservation form {
    width: 50%;
}