body {
    font-family: 'Open Sans', 'Noto Serif'; 
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;  
    text-align: center;
}

p {
    font-family: 'Noto Serif', serif;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

main h1 {
    font-size: 3.2em;
}

.homeImage > img {
    position: absolute;
    z-index: -3;
    float: right;
    margin-right: 10%;
    width: 80%;
    border: solid 1px black;
    margin-bottom: 25px;
    margin-left: 6%;
}

.logo {
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
}

nav {
    height: 100px;
    width: 100%;
    box-shadow: 5px 10px 10px #CBD4C2;
}

nav ul li a {
    text-decoration: none;
    color: #2B98C6;
    font-size: 1.5em;
    transition-property: all;
    transition-duration: 500ms;
}

nav ul li a:hover {
    font-size: 1.9em;
    color: #50514F;
}

nav ul li.active {
    background-color: #CBD4C2;
}

/* Home Page */

@media only screen and (min-width: 900px) {
    .navagation {
        display: flex;
        float: right;
        flex-direction: row;
        list-style-type: none;
        margin-right: 25px;
    }

    ul {
        width: 650px;
    }

    nav > li {
        text-align: center;
        margin: auto;
    }

    ul > li {
        margin: 15px; 
    }

    nav a {
        font-size: 1.5em;
        text-decoration: none;
        color: black;
    }

    nav button {
        display: none;
    }

    .callToAction {
        width: 25%;
        margin-top: 12%;
        margin-left: 15%;
        text-align: center;
        border-radius: 10%;
    }

    .callToAction p {
        text-align: center;
        margin: 25px;
        font-size: 1.8em;
    }

    .callToAction button {
        font-size: 1.3em;
        margin-bottom: 20px;
        border-radius: 5%;
        width: 200px;
        height: 50px;
        transition-property: all;
        transition-duration: 500ms;
    }

    .callToAction button:hover {
        font-weight: bold;
        width: 250px;
        height: 75px;
        font-size: 2.0em;
        border: 2px solid #50514F;
    }

    .callToAction a {
        text-decoration: none;
        color: black;
    }

    .homeImages {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        margin-left: 10%;
    }

    .homeImages > p {
        text-align: center;
    }

    .homeImages img {
        align-content: center;
    }

    .homeContent {
        margin-top: 38%;
    }

    footer .icons {
        text-align: right;
        margin-top: -80px;
        margin-right: 10px;
    }
    
    .icons a {
        margin: 10px;
        color: #50514F;
    }

    .footerInfo {
        display: inline-block;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
    }
}

.homeContent p {
    width: 80%;
    margin: auto;
}

.homeContent h2 {
    font-size: 2.5em;
}

.homeImages {
    margin-top: 6%;
}

.icons a:hover {
    transition-property: all;
    transition-duration: 1s;
    color: #CBD4C2;
}

footer {
    box-shadow: 0px -10px 20px #CBD4C2;
    height: 100px;
    width: 100%;
    margin-top: 55px; 
}

/* Temple Page */

#templeList {
    display: flex;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    padding-left: 0px;
}

#templeList li {
    flex-direction: row;
    margin: 15px;
}

#templeList a {
    text-decoration: none;
    color: #2B98C6;
    font-size: 1.7em;
    transition-property: all;
    transition-duration: 500ms;
}

#templeList a:hover {
    font-size: 2.2em;
    color:  #50514F;
}

.templeImage > img{
    width: 80%;
    border: solid 1px black;
    margin-left: 10%;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 45px;
}

section h2 {
    font-size: 2.0em;
}

 section img {
    margin-left: 20%;
}

section img:nth-child(1) {
    width: 60%;
    top: 300px;
}

section img:nth-child(2) {
    width: 60%;
}

section img:nth-child(3) {
    width: 60%;
}

section img:nth-child(4) {
    width: 60%;
    top: 300px;
}

 article p {
    font-weight: bold;
}

#stGeorge article:nth-child(2){
    display: none;
}

#stGeorge article:nth-child(3){
    display: none;
}

#stGeorge article:nth-child(4){
    display: none;
}

#logan article:nth-child(1){
    display: none;
}

#logan article:nth-child(3){
    display: none;
}

#logan article:nth-child(4){
    display: none;
}

#manti article:nth-child(1){
    display: none;
}

#manti article:nth-child(2){
    display: none;
}

#manti article:nth-child(4){
    display: none;
}

#slc article:nth-child(1){
    display: none;
}

#slc article:nth-child(2){
    display: none;
}

#slc article:nth-child(3){
    display: none;
}

.forecast {
    flex-wrap: wrap;
    border: solid 1px black;
    margin-top: 20px;
    background-color: #CBD4C2;
}

.forecast th {
    border: solid 1px black;
}

.forecast td {
    text-align: center;
}

/* Reservation Page */

.reservation {
    text-align: center;
}

textarea {
    width: 90%;
}

fieldset {
    background-color: #E2CEB1;
    width: 80%;
    margin: auto;
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset .submitresponse {
    font-size: 1.3em;
    width: 200px;
    height: 50px;
    transition-property: all;
    transition-duration: 500ms;
}

fieldset .submitresponse:hover {
    font-weight: bold;
    width: 250px;
    height: 75px;
    font-size: 2.0em;
    border: 2px solid #50514F;
}

/* Contact page */
@media only screen and (min-width: 750px) {
    .address {
        text-align: center;
    }

    #addressImage {
        display: flex;
        flex-wrap: wrap;
    }

    #addressImage iframe {
        width: 50%; 
        height: 450px;
        margin: auto;
    }

    #contactForm {
        width: 50%;
        margin-bottom: 0px;
    }
}