@media only screen and (max-width: 600px) {
    nav {
        background-color: #ffffff;
        height: 40px;
        width: 100%;
    }

    .logo {
        display: none;
    }

    #navbar {
        position: fixed;
        top: 0;
        margin-top: 0px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav button {
        margin: .2rem 2%;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
    }

    nav a {
        color: black;
        text-decoration: none;
        font-size: 1.1em;
    }

    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        border-top: solid 1px black;
        background-color: #ffffff;
        z-index: 9;
        box-shadow: 5px 10px 20px #cbd4c2;
    }

    nav ul.hide {
        display: none;
    }

    main > h1 {
        margin-top: 25%;;
    }

    .callToAction {
        align-content: center;
        width: 65%;
        margin-top: 75%;
        margin-left: 18%;
        text-align: center;
        border-radius: 10%;
    }

    .callToAction p {
        margin-left: 15px;
    }

    .callToAction p {
        text-align: center;
        margin: 15px;
        font-size: 1.2em;
    }

    .callToAction button {
        font-size: 2.0em;
        margin-bottom: 20px;
        border-radius: 5%;
    }

    .callToAction a {
        text-decoration: none;
        color: black;
    }

    .homeImages {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
    }
    
    .homeImages img {
        width: 90%;
        margin-bottom: 20px;
        align-content: center;
    }

    .homeImages > p {
        text-align: center;
    }

    footer .icons {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .icons a {
        margin: 10px;
        color: #50514F;
    }

    .footerInfo {
        display: inline-block;
        text-align: center;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 10px;
    }
}

@media all and (max-width:750px) {
    .calculator tr {    
        display: table;  
        width:100%;
        text-align: center;    
    }               
    .calculator td {    
        display: 
        table-row-group;
        text-align: center; 
    }
    .calculator th {    
        display: table-row-group;
        text-align: center;             
    }
}

/* Contact Page */
@media only screen and (max-width: 750px) {
    .address {
        text-align: center;
    }

    #addressImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #addressImage iframe {
        width: 90%; 
        height: 450px;
        justify-content: center;
        margin: auto;
    }

    #addressImage iframe {
        justify-content: center;
    }

    #contactForm {
        width: auto;
    }
}