body {
    font-family: 'Indie Flower', 'Roboto'; 
    font-size: 18px;
}

header {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #2dc7ff;
}

.container1 {
    display: flex;
    flex-direction: row;
    background-color: #178db6;
    padding: 15px;
    margin-top: -10px;
}

nav li{
    display: inline-block;
    margin: auto;
    width: 15%;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

#townTitle {
    text-align: center;
}

.headerText {
    display: inline-block;
    vertical-align: middle;
}

#weather1 {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
    vertical-align: middle;

}

#weather2 {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
    vertical-align: middle;
}

h1, h2, h3 {
    font-family: 'Indie Flower', cursive;  
}

p {
    font-family: 'Roboto', sans-serif;
}

.image1 > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    border-radius: 1%;
}

.weathersummary {
    position: absolute;
    top: 65%;
    left: 19%;
    width: 15%;
    background-color: #dcb97eAA;
    border: solid 1px black;
    border-radius: 15%;
    box-shadow: 5px 5px 50px black; 
}

.weathersummary > h3 {
    margin: 5px;
    text-align: center;
    text-decoration: underline;
}

.weatherdetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.value {
    margin: 5px;
}

.label {
    margin: 5px;
}

.weatherdetails > p {
    font-size: 1em;
}

@media only screen and (max-width: 750px) {
    .forecast {
        display: none;
    }
}

.article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #00abe7;
    width: 80%;
}

.article h2 {
    padding-top: 10px;
    padding-left: 10px;
}

.article p {
    padding-bottom : 10px;
    padding-left: 10px;
}

.article img {
    float: right;
    width: 20%;
    margin-right: 50px;
    margin-top: 5px;
}

footer {
    background-color: #2dc7ff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer img {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    margin-top: 15px;
}

.footerText {
    display: inline-block;
    vertical-align: middle;
}

.footerInfo {
    background-color: #178db6;
}
