/* Main body */

:root {
    --nav-color: rgb(199, 199, 199);
    --primary-color: #444;
    --secondary-color:#666;
    --underlay-color: #eeeeee;
    --primary-font: 'Special Elite', cursive;
    --secondary-font: 'News Cycle', sans-serif;
    --third-font: 'Roboto', sans-serif;
}

@media screen and (min-width: 850px) {
    html, 
    body,
    main {
        height: 100%;
        margin: 0;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
    font-size: 1.1rem;
    scroll-behavior: smooth;
}

.containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80%;
}

/* Header */
main > header {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 850px) {
    main > header > .logo {
        background-color: var(--underlay-color);
    }
}
header > .logo > img {
    margin-top: 3.3rem;
    margin-right: 4.3rem;
    float: right;
}

/* Left container */
.container-left, .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containers > .container-left {
    margin: 0 10%;
    margin-top: -10%;
}

.container-left > .head > h1 {
    font-family: var(--primary-font);
}

.leftBody > p {
    margin-bottom: 2.3rem;
    font-family: var(--secondary-font);
}

.container-left > .search {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-left > .search > input {
    margin-bottom: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--underlay-color);
    border: none;
    margin-left: 1.3rem;
    padding-left: 20px;
}

.container-left > .search > input::placeholder {
    color: #cccccc;
    font-size: 1.3rem;
}

.container-left > .search > button {
    align-self: center;
    width: 60%;
    border-radius: 30px;
    color: #eee;
    background-color: rgb(207, 23, 23);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3.0rem;
}

/* Right container */
.containers > .container-right {
    align-items: center;
    background-color: var(--underlay-color);
    margin-bottom: -2.3rem;
}

.container-right > img {
    width: 80%;
}

.container-right > p {
    font-family: var(--secondary-font);
    text-align: center;
    margin: 5% 10%;
    font-style: italic;
}

/* Movie Selection */

#containerInfo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    background-color: var(--underlay-color);
    margin-top: 1.3rem;
}

.element {
    background-color: var(--underlay-color);
}

.movieElement {
    margin: 1.3rem 1.3rem auto 1.3rem;
    background-color: var(--underlay-color);
}

.movieElement a {
    cursor: pointer;
}

.movieElement img {
    width: 90%;
    margin-left: 5%;
    padding-top: 1.3rem;
    transition: 1000ms;
}

.movieElement img:hover {
    transform: scale(1.05);
}

.movieElement h3, .movieElement h6 {
    text-align: center;
    font-family: var(--primary-font);
}

.movieElement h6 {
    margin-top: -.5rem;
}

/* Movie LightBox Information page */

#containerLightBox {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 49, 49);
    z-index:100;
    opacity:0.8;
}

#lightBox {
    display: none;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    padding: 0;
    margin:0;
    border: 5px solid white;
    background-color: rgb(49, 49, 49);
    z-index:101;
    overflow: auto;
}

#lightBox a {
    color: white;
}

.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.movieContainer img {
    width: 80%;
    align-self: center;
    padding: 2.0rem;
    transform: scale(.75);
}

.movieContainer h4 {
    color: white;
    font-family: var(--third-font);
    font-weight: bold;
}

.movieContainer .data > span {
    color: white;
    font-weight: 0;
}

#movieInformation {
    width: 80%;
    align-self: center;
    padding: 2.0rem;
}


/* Footer */



footer > .foot {
    margin: 1.3rem 1.3rem 1.3rem 1.3rem;
}

footer > .foot a {
    cursor: pointer;
    margin-left: 3.3rem;
    color: #808080;
    font-family: var(--secondary-font);
    font-size: 15px;
}



footer > .movieApiLogo img {
    width: 20%;
    margin-left: 20%;
}

footer > .movieApiLogo p {
    font-size: .8rem;
    text-align: center;
}

@media screen and (min-width: 850px) {
    footer .movieApiLogo {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    main > footer {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    main > footer div:nth-child(2) {
        background-color: var(--underlay-color);
    }
}