/* Body */
:root {
    --nav-color: rgb(199, 199, 199);
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
    font-size: 1.1rem;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    line-height: 1.3
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Nav Bar */

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem; 
}

.navbar {
    font-size: 1.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container > .logo {
    display: flex;
    align-content: center;
    width: 11.5rem;
}

.container > .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    margin-right: 1.5rem;
}

/* Main */
/* Container 2 */

main > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

/* Container 3 */

main > .container3 {
    position: relative;
    background: url('../images/action-adventure-bicycle.jpg') no-repeat center/cover;
    height: 1080px;
}

main  .sub-container3-1 {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-container3-1 > h2 {
    margin-right: 1.3rem;
}

/* Bike slideshow */

.slideshowBikes {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.bikePhotos {
    display: none;
}

@media only screen and (min-width: 800px) {
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        margin-right: -60px;
        padding: 16px;
        color: white;
        background-color: rgba(0,0,0,0.3);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 3px 3px 3px 3px;
        user-select: none;
    }


    .prev {
        margin-left: -60px;
    }

    .next {
        right: 0;
    }
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Bike Trail Information*/
.tenTrails h2 {
   margin: 1.3rem 0rem 1.3rem 1.3rem;
   text-align: center;
   color: #fff;
   padding-top: 1.3rem;
}

.trailLinksMenu {
    margin: 1.3rem 0rem 1.3rem 0rem;
    position: relative;
    padding: 2.3rem auto 2.3rem auto;
    background-color: var(--overlay-color);
}

@media only screen and (min-width: 800px) {
    .trailLinks {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }

    .trailLinksSmall {
        display: none;
    }
}

.trailLinks > a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    text-align: center;

    border: 2px solid #fff;
    height: 6rem;
    width: 80%;
    border-radius: 35px;
    margin:  .3rem auto .3rem auto;
}

iframe {
    display: none;
    margin: auto;
    width: 100%;
    margin-bottom: 1.3rem;
    animation: moving 800ms linear;
}

#outputDiv {
    text-align: center;
    margin-bottom: 1.3rem;
    animation: moving 2s linear;
}

@keyframes moving {
    0% {transform: translate(-100%,0%); }

    25% {transform: translate(-50%,0%); }
    
    50% {transform: translate(0,0); }

    75% {transform: translate(25%,0%); }
    
    100% {transform: translate(0,0); }
}

/* Container 4 */

.container4 > .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.container4 > .gallery a:first-child{
    grid-row: 1/3;
    grid-column: 1/3;
}

.container4 > .gallery a:nth-child(2){
    grid-row: 1/3;
    grid-column: 4/6;
}

.container4 > .gallery a:nth-child(3){
    grid-row: 1/3;
    grid-column: 3/4;
}

.container4 > .gallery a:nth-child(4){
    grid-row: 3/5;
    grid-column: 3/4;
}

.container4 > .gallery a:nth-child(5){
    grid-row: 3/5;
    grid-column: 1/3;
}

.container4 > .gallery a:nth-child(6){
    grid-row: 3/5;
    grid-column: 4/6;
}

.container4 > .gallery img, .container4 > .gallery a {
    width: 100%;
    height: 100%;
}

/* Footer/container 5*/

footer {
    background: var(--primary-color);
    padding: 4rem 0;
    color: #fff;
}

footer > .container5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 1rem;
    width: 60%;
    margin-left: 20%;
}

/* Utilites */

a:hover {
    color: var(--nav-color);
    transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
}
