@media only screen and (max-width: 800px) { 

    .slideshowBikes > .bikePhotos {
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .slideshowBikes > .productInfo {
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .slideshowBikes > .buttons {
        text-align: center;
        margin: 1.5rem 0rem 1.5rem 0rem;
    }

    .trailLinks > a {
        cursor: pointer;
    }

    .buttons > .prev, .buttons > .next {
        cursor: pointer;
        width: auto;
        padding: 16px;
        color: white;
        background-color: rgba(0,0,0,0.3);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 3px 3px 3px 3px;
        user-select: none;
    }

}