@media only screen and (max-width: 800px) { 

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    header > .nav-wrapper {
        padding: 60px;
    }

    header > #smallNavbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 3.0rem;
        padding-top: 1.3rem;
        background-color: #fff;
        z-index: 10;
    }

    header > #smallNavbar > a {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar > .container > .nav {
        display: none;
    }

    main > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slideshowBikes > .bikePhotos {
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .slideshowBikes > .productInfo {
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .slideshowBikes > .buttons {
        text-align: center;
        margin: 1.5rem 0rem 1.5rem 0rem;
    }

    .buttons > .prev, .buttons > .next {
        cursor: pointer;
        width: auto;
        padding: 16px;
        color: white;
        background-color: rgba(0,0,0,0.3);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 3px 3px 3px 3px;
        user-select: none;
    }

    .trailLinks {
        display: none;
    }

    .trailLinksSmall {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .trailLinksSmall > #smallScreenTrails {
        width: 50%;
        margin: .3rem auto .3rem auto;
        font-size: 1.3rem;
    }

    .trailLinksSmall > button {
        width: 30%;
        margin: .3rem auto .6rem auto;
    }
 }